---
import { getCollection } from "astro:content";
import Date from "@components/Date.astro";
import RSSCard from "@components/RSSCard.astro";
import ListLayout from "@layouts/ListLayout.astro";
import { filterOutDraftThoughts, sortEntriesByPubDate } from "../utils";

const thoughts = (await getCollection("thoughts", filterOutDraftThoughts)).sort(
	sortEntriesByPubDate,
);

const pageTitle = "Thoughts";
const pageSubtitle =
	"A series of posts about life, technology and web development.";
---

<style>
	.cta {
		gap: var(--space-0);
		display: inline-flex;
		align-items: center;
		margin-block-end: var(--space-6);
	}

	.thought-listing {
		margin-block-end: var(--space-6);
	}

	.thought-listing .link {
		font-size: var(--font-size-secondary-heading);
		font-weight: var(--font-weight-medium);
	}

	.thought-listing p {
		line-height: var(--line-height-short-prose);
		margin-block: var(--space-1);
	}

	article :global(formatted-date) {
		font-size: var(--font-size-small);
		font-style: italic;
	}
</style>

<ListLayout
	heading={pageTitle}
	subHeading={pageSubtitle}
	description={pageSubtitle}
>
	<main>
		{
			thoughts.map(({ data, slug }) => (
				<article class="thought-listing">
					<a
						class="link"
						href={`/thoughts/${slug}/`}
						transition:name={`h1-/thoughts/${slug}/`}
					>
						{data.title}
					</a>
					<p>{data.description}</p>
					<Date date={data.pubDate} />
				</article>
			))
		}

		<RSSCard id="rss-feeds" />
	</main>
</ListLayout>
