---
import { getCollection } from "astro:content";
import CTALink from "@components/CTALink.astro";
import Date from "@components/Date.astro";
import PageHeader from "@components/PageHeader.astro";
import RSSAutodiscovery from "@components/RSSAutodiscovery.astro";
import RSSIcon from "@components/RSSIcon.astro";
import SiteHeader from "@components/SiteHeader.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { RSS_URL } from "../consts";
import { filterOutDrafts, sortThoughtsByPubDate } from "../utils";

const thoughts = (await getCollection("thoughts", filterOutDrafts)).sort(
	sortThoughtsByPubDate,
);

const pageTitle = "Thoughts";
const pageSubtitle =
	"A series of posts about life, technology and web development.";
---

<style>
	.cta {
		gap: var(--space-0);
		display: inline-flex;
		align-items: center;
		margin-block-end: var(--space-6);
	}

	.cta,
	ul {
		margin-inline: var(--margin-inline-prose);
	}

	.thought-listing {
		list-style: none;
	}
	.thought-listing:not(:last-child) {
		margin-block-end: var(--space-6);
	}

	.thought-listing .link {
		font-size: var(--font-size-secondary-heading);
		font-weight: var(--font-weight-medium);
	}

	.thought-listing p {
		margin-block: var(--space-1);
	}

	li :global(formatted-date) {
		font-size: var(--font-size-small);
		font-style: italic;
	}
</style>

<BaseLayout title={pageTitle} description={pageSubtitle}>
	<RSSAutodiscovery slot="head" />
	<SiteHeader />
	<main>
		<PageHeader title={pageTitle} subTitle={pageSubtitle} />

		<CTALink href={RSS_URL}>
			<span>Subscribe via RSS</span>
			<RSSIcon aria-hidden />
		</CTALink>

		<ul>
			{
				thoughts.map(({ data, slug }) => (
					<li class="thought-listing">
						<a
							class="link"
							href={`/thoughts/${slug}/`}
							transition:name={`h1-/thoughts/${slug}/`}
						>
							{data.title}
						</a>
						<p>{data.description}</p>
						<Date date={data.pubDate} />
					</li>
				))
			}
		</ul>
	</main>
</BaseLayout>
